@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #a0baba;
    font-family: 'Poppins', sans-serif;
    overflow-y: scroll;
}
.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-profile {
    width: 85%;
    height: 76%;
    margin-top: 4%;
    border-radius: 70px;
    background: #a0baba;
    box-shadow:  20px 20px 60px #889e9e,
             -20px -20px 60px #b8d6d6;
    display: grid;
}

.nav-bar{
    display: flex;
    justify-content: space-evenly;
}

.nav-bar ul{
    padding: 50px;
    display: flex;
    justify-content: space-between;      
    column-gap: 60px;   
    list-style-type: none;
    color:black;
}

.nav-bar ul li a{
        display: inline-block;
        color:black;
        text-decoration: none;
}

.nav-bar ul li a:hover {
    font-weight: 600;
}

.nav-bar ul li:first-child {
    margin-right: 220px; 
}

.fa{
    background-image: linear-gradient(to right, #0496a5, #ffb88c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 20px;    
}

.personal-info{
    display: inline-flex;
    align-items: center;

}

.profile-photo{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(315deg, #90a7a7, #abc7c7);
    box-shadow:  -7px -7px 9px #889e9e,
                 7px 7px 9px #b8d6d6;
    margin: 130px;
}

.my-photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}


.about{
    width:400px;
    text-align: center;
    display: grid;
    row-gap: 10px;
}
.download-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.dr, .cm{
    
    text-decoration: none;
    
}

.dr button ,.cm button{
    width:150px;
    height:60px;
    display: flex;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    
    background: linear-gradient(145deg, #9ac5ca, #b7eaf0);
    box-shadow:  -7px -7px 9px #889e9e,
             1px 1px 3px #b8d6d6;
    border: 1px solid#b7eaf0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.dr button:hover{
    /* box-shadow: -11px -11px 20px #bcf1f6,
                7px 7px 9px #889e9e; */
                box-shadow:  0px 0px 0px #a9d9de, 10px -10px 57px #addde2;
}

.dr button:hover .fa-download {
    color:black;
}

.cm button:hover .fa-phone {
    color:black;
}

.cm button:hover{
    box-shadow:  0px 0px 0px #a9d9de, 10px -10px 57px #addde2;
}

@media screen and (max-width: 1000px) {
    .nav-bar ul {
        flex-direction: column; 
        text-align: center;
    }

    .nav-bar ul li {
        margin: 10px 0;
    }

    .nav-bar ul li:first-child {
        margin-right: 0; 
    }

    .my-profile{
        display: grid;
        justify-content: center;
        align-items: center;
        height:1000px;
    }

    .personal-info{
        display: block;
        margin-top:-230px;
    }

    .about{
        text-align: center;
        margin-left: 6%;
        margin-top:-10%;
    }
}


.education-container{
    width: 100%;
    height: 710px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.education-details{
    width: 85%;
    height: 620px;
    border-radius: 70px;
    background: #a0baba;
    box-shadow:  20px 20px 60px #889e9e,
             -20px -20px 60px #b8d6d6;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
}

.about-div, .skill-div{
    width:40%;
    height:490px;
}
.about-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-div p{
    padding: 40px;
    line-height: 25px;
}

.about-me-head, .web-head, .other-head{
    font-size: 26px;
    font-weight: 700;
    border-bottom:2px solid #0496a5;
    color: #0496a5;
}
.skill-div{
    display: grid;
    justify-content: center;
    align-items: center;
}

.web-skill, .other-skill{
    width:100%;
    padding: 20px;
}

/* .card {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    height:300px;
    background: linear-gradient(145deg, #9ac5ca63, #b7eaf0c9);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;    
    overflow: hidden;
    border-radius: 60px;
    padding: 55px;
    border: 1px solid#b7eaf0;
    flex: 1 0 calc(33.33% - 10px);
    min-width: 200px;
    margin:40px;
} */
  
/* .card label{
    font-size: 25px;
    font-weight: 600;
}
   */
/* .content .heading {
    font-weight: 700;
    font-size: 25px;
}
  
.content .para {
    line-height: 1.5;
}

.card:hover{
    box-shadow:  0px 0px 0px #a9d9de, 10px -10px 57px #addde2;
} 
*/


@media screen and (max-width: 767px) {
    .education-container{
        height: 1000px;
        margin-top: 60px;
    }
    .education-details{
        height: 1000px;
        display: grid;
        align-items: center;
        justify-content: center;
        font-size: 13px;
    }
    .about-div, .skill-div{
        width:400px;
        height:350px;
    }
    .skill-div{
        margin-top: -200px;
    }
    /* .card {
        flex: 1 0 calc(50% - 10px);
    } */
}

@media screen and (max-width: 479px) {
    .education-container{
        height: 1300px;
        margin-top: 70px;
        font-size: 11px;
    }
    .education-details{
        /* height:1200px; */
        display:grid;
        align-items: center;
        justify-content: center;
        margin-top: -300px;
    }
    
    .about-div{
        width:300px;
        height:430px;
    }
    .about-div p{
        line-height: 24px;
    }
    .skill-div{
        width:300px;
        height:400px;
    }
    /* .card {
        flex: 1 0 100%;
    } */
} 

.about-projects{
    width: 100%;
    height: 710px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-details{
    width: 85%;
    height: 620px;
    border-radius: 70px;
    background: #a0baba;
    box-shadow:  20px 20px 60px #889e9e,
             -20px -20px 60px #b8d6d6;
    display: grid;
    /* margin-top: -40px; */
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .carousel {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    display: flex;
    margin: 30px;
    border-radius: 20px;
  }

  .carousel-item {
    display: flex;
    transition: transform 1s ease-in-out;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }


.project-exp{
    width:80%;
    height:300px;
    margin-left:10%;
    margin-top:5%;
}

.custom-carousel-container {
    position: relative;
    overflow: hidden;
    text-align: center;
  }
  
  .custom-carousel {
    display: flex;
    transition: transform 0.5s ease;
  }

  .custom-carousel-item a{
    font-size: 18px;
    color: #0496a5;
    text-decoration: none;  
  }

  .custom-carousel-item a:hover{
    color:black;
  }
  
  .custom-carousel-item {
    flex: 0 0 100%;
  }
  
  .custom-prev-button, .custom-next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width:50px;
    height: 50px;

    border-radius: 50%;
    
    background: linear-gradient(145deg, #9ac5ca, #b7eaf0);
    border: 1px solid#b7eaf0;
    outline: none;
  }
  
  .custom-prev-button {
    left: 0;
    box-shadow:  8px -7px 9px #889e9e,
             1px 1px 3px #b8d6d6;
  }
  
  .custom-next-button {
    right: 0;
    box-shadow:  -7px -7px 9px #889e9e,
             1px 1px 3px #b8d6d6;
  }
  
  .custom-prev-button:hover {
    background: linear-gradient(145deg, #9ac5ca, #b7eaf0);
    box-shadow: 15px 9px 17px #a9d9de;
  }
  .custom-next-button:hover {
    background: linear-gradient(145deg, #9ac5ca, #b7eaf0);
    box-shadow: -15px -9px 17px #a9d9de;
  }

@media screen and (max-width: 1150px) {
    .project-details{
        height:1100px;
        margin-top: 400px;
    }
}
@media screen and (max-width: 770px) {
    .project-details{
        height:1700px;
        margin-top: 1300px;
    }
}
@media screen and (max-width: 496px) {
    .project-details{
        height:1800px;
        margin-top: 800px;
    }
}

.other-small-projects{
    width:100%;
    height:710px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.osp{
    width: 85%;
    height: 620px;
    border-radius: 70px;
    background: #a0baba;
    box-shadow:  20px 20px 60px #889e9e,
             -20px -20px 60px #b8d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5%;
    flex-wrap: wrap;
}

@media screen and (max-width: 770px) {
    .osp{
        margin-top: 2500px;
        height:800px;
    }
}

@media screen and (max-width: 490px) {
    .osp{
        margin-top: 2500px;
        height:1200px;
    }
}

.osp .fa{
    color:#0fcadf;;
    font-size: 28px;
}

.osp .card:hover .fa{
    background-image: linear-gradient(to right, #0496a5, #ffb88c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* @media screen and (max-width: 800px) {
    .osp{
        margin-top: 800px;
    }
    .contact-details{
        margin-top:750px;
    }
} */

.about-contacts{
    width:100%;
    height:710px;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-details{
    width: 85%;
    height: 620px;
    border-radius: 70px;
    background: #a0baba;
    box-shadow:  20px 20px 60px #889e9e,
             -20px -20px 60px #b8d6d6;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7%;
}


@media screen and (max-width: 770px) {
    .contact-details{
        margin-top: 2980px;
        height:1000px;
        display: grid;
    }
}

@media screen and (max-width: 490px) {
    .contact-details{
        height:800px;
        margin-top: 3200px;
        display: grid;
    }
}
.card {
    width: 190px;
    height: 254px;
    /* background: rgb(223, 225, 235); */
    border-radius: 50px;
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
    transition: 0.7s;
    background: linear-gradient(145deg, #9ac5ca, #b7eaf0);
    box-shadow:  -7px -7px 9px #889e9e,
             1px 1px 3px #b8d6d6;
    border: 1px solid#b7eaf0;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* row-gap: 50px; */
}
.card a{
    text-decoration: none;
}
.card .fab{
    font-size: 40px;
    color:#0fcadf;
}

.card:hover .fab{
    background-image: linear-gradient(to right, #0496a5, #ffb88c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.card:hover {
    transform: translateY(-25px);
    border: 1px solid#b7eaf0;
    box-shadow:  0px 0px 0px #a9d9de, 10px -10px 57px #addde2;
}
.card a p{
    color:black;
}
.card:hover a p{
    background-image: linear-gradient(to right, #0496a5, #ffb88c);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
